header {
  width: 100%;
  background-color: var(--blue-theme);
  text-align: center;
  height: 100px;
  font-size: 1.5rem;
}

nav {
  width: inherit;
  height: inherit;
  background-color: inherit;
}

ul {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: space-around;
}

ul li {
  width: calc(20% - 40px);
  height: 2rem;
  color: #fff;
}

ul li a, ul li img {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: inherit;
}

ul li a:hover {
  color: var(--light-blue);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p {
  text-align: center;
  font-weight: bold;
}
